<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

## Exercise 1: Create a Jupyter Notebook

# Name: Jupyter_Notebook.ipynb

#### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

* List popular languages that Data Scientists use.
* List commonly used libraries used by Data Scientists.
* Comment on Data Science tools.
* Mathematics Operation
* Conversion of Minutes to Hours

#### Exercise 4 - Create a markdown cell to list data science languages

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

#### Exercise 5 - Create a markdown cell to list data science libraries

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. Pandas
4. Matplotlib
5. Keras

#### Exercise 6 - Create a markdown cell with a table of Data Science tools

### Data Science Tools:

SAS. It is one of those data science tools which are specifically designed for statistical operation                 
Apache Spark                                                                                                         
BigML

####  Exercise 7 -Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

#### Exercise 8 - Create a code cell to multiply and add numbers

In [7]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

#### Exercise 9 - Create a code cell to convert minutes to hours

In [11]:
min=200
hours=min/60
hours
#This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

#### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
 VIKAS YADAV